{% extends 'base.html' %}
{% load static %}
{% block title %}New Password{% endblock title %}
{% block content %}

<section class="bg-light py-5">
  {% include 'components/_alerts.html' %}
  <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <br><br><br><br>
          <div class="ps-form__content card p-5">
            <h3 class="card-title">New Password</h3>
            <div class="card-body">
            <div class="text-danger">{{form.errors}}</div>
              <form method="POST">
                {% csrf_token %}
                <br>
                {{form.new_password1}}
                <br>
                {{form.new_password2}}
                <br>
                {% comment %} {{form.as_p}} {% endcomment %}
                <input type="submit" value="CHANGE MY PASSWORD" class="ps-btn ps-btn--fullwidth">
              </form>
            </div>
          </div>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
